/*
Theme Name:DesignHunt-Reloaded
Theme URI:http://www.itechcolumn.com
Description:Theme Designed and Powered by Vinod from iTechColumn.com
Version:v2.0
*/

/* RESET */
*{margin:0;padding:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
/* BASIC */
abbr[title],acronym[title]{border-bottom:thin solid;cursor:help;}
body{font-size:12px;font-family:Tahoma,Arial,Helvetica,sans-serif;color:#695c4f;text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
h1{font-size:24px;line-height:30px;text-align: center;}
h2{padding:10px;font-size:20px;line-height:26px;}
h3{font-size:16px;line-height:24px;}
h4{font-size:14px;line-height:20px;}
h5{font-size:14px;line-height:20px;}
h6{font-size:14px;line-height:20px;}
small{font-size:10px;line-height:16px;}
dl{font-size:12px;}
dt{font-weight:bold;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
fieldset,img{border:none;}
hr{color:#ddd;background-color:#ddd;height:1px;border:0px;}
.clear{clear:both;margin:0;padding:0;}

/* #header */

.top{
height: 24px;
line-height: 24px;
	font-size: 11px;
	background: #E2FDFC;position:absolute;top:0px;width:99%;
	background: rgba(242, 249, 250, 0.6);left:0px;
	text-transform: uppercase;
	z-index: 9999;padding-left:10px;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #F75C5C;
	display: inline-block;
}
#right{float:right;padding-right:10px;}

/* #wrapper */
#wrapper{height:100%;padding:5px;overflow:hidden;width:975px;margin:0 auto;background:transparent;}

/* #content */
#content{overflow:hidden;float:left;width:675px;padding:2px;}
#credit{
background: #5992B8;
color: #FAFAFA;
height: 20px;
line-height: 20px;
font-family: Cambria, Georgia, serif;
position: fixed;
bottom: 0px;
left: 0px;
right: 0px;
width: 100%;
text-align: center;
font-size: 12px;text-transform: uppercase;
}
#credit a{ color: #F1EEA8;
text-decoration: none;}