html * {
	font-family: "Lato", georgia;
}

input[type="text"] {
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

input[type="text"] datalist {
   background: transparent;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.nav-pills {
	background-color: #2D3E4E;
}
.nav-pills > li {
	float: none;
	display:inline-block;
 *display:inline; /* ie7 fix */
	zoom:1; /* hasLayout ie7 trigger */
}
.nav-pills > li > a {
	float: none;
	line-height: 19px;
	padding: 9px 10px 11px;
	text-decoration: none;
	font-size:12px;
	color:  #FFFFFF;
	width: 130px;
}
.nav-pills > li > a:hover {
	float: none;
	line-height: 19px;
	padding: 9px 10px 11px;
	text-decoration: none;
	color:  #000000;
	width: 130px;
	background-color: #FC9A24;
}
.nav-pills > li.active > a {
	font-weight:bold;
	color: #F47D67;
	background-color: #2D3E4E;
}
.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #000000;
	background-color: #FC9A24;
}


.price-number {
	font-weight: bold;
	font-size: 24px;
}
.price-currency {
	font-size: 14px;
}

.footer-title-2 {
	font-family: "Lato", georgia;
	color: #008C86;
	font-size: 23px;
	font-style: italic;
}

.footer-title-1 {
	color: #F99E19;
	font-weight: 900;
	font-size: 23px;
}
.footer-kontak-1 {
	color: #FFFFFF;
	font-size: 20px;
}

.cyan {
	color: #009C84;
	font-weight:bold;
}
.orange {
	color: #E39938;
	font-weight: bold;
}
.pink {
	color:#E87F84;
	font-style: italic;
}

.font-small {
	font-size:9px;
	font-weight:normal;
}

.train-nav table tr td ul li {
	font-size:13px;
	font-weight:bolder;
	color:#00A79D;
	float:left;
	width: 14.8em;
	text-align:center;
}

.result-hotel-promo .col-sm-6 table tr td {
	color: #FFF;
	font-family: "Lato", georgia;
	line-height: 1.2em;
}
.result-hotel-promo-font-small {
	font-weight: normal;
	font-size: 11px;
	font-family: "Lato", georgia;
}
.result-hotel-promo-font-big {
	font-size: 24px;
	font-weight: normal;
	font-family: "Lato", georgia;
}
.result-hotel-promo-header-nav > ul > li {
	display: inline-block;
	/* inline block hack for IE 6&7 */
  zoom: 1;
	vertical-align:middle;
}
.result-hotel-promo-header-nav > ul {
	margin-bottom:0px;
}
.result-hotel-promo .col-sm-6 table tr td a span {
	color: #FFF;
	padding:0.5em;
}
.price-details {
	font-family: "Lato", georgia;
	text-align: right;
}

/* Author by Agung Pambudi*/

.search-title-1 {
	font-size: 36px;
	font-family: "Lato", georgia;
	color: #FFF;
}
.search-title-2 {
	font-size: 18px;
	font-family: "Lato", georgia;
	color: #FFF;
}
.panel-tujuan {
	position: relative;
	width:213px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
}
.panel-waktu {
	position: relative;
	width:226px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
}
.panel-pencarian {
	position: relative;
	width:213px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
}
.row-tabs {
	background-color:#038980;
	border: 6px solid #F47D67;
}
.search-tab-content > .tab-pane, .pill-content > .pill-pane {
	display: none;
}
.search-tab-content > .active, .pill-content > .active {
	display: block;
}
.search-tabs-left > .nav-tabs {
	border-bottom: 0;
}
.search-tabs-left > .nav-tabs > li, .search-tabs-right > .nav-tabs > li {
	float: none;
}
.search-tabs-left > .nav-tabs > li > a, .search-tabs-right > .nav-tabs > li > a {
	width: 48px;
	height:62px;
	margin-right: 0;
	text-align:center;
	margin-top:0;
	margin-bottom:6px;
}
.search-tabs-left > .nav-tabs {
	float: left;
	margin-right: 0px;
	background-color:#F47D67;
	height:230px;
}
.search-tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 0px 0 0 0px;
	-moz-border-radius: 0px 0 0 0px;
	border-radius: 0px 0 0 0px;
	background-color:#038980;
	color:#FFF;
	height: 70px;
}
.search-tabs-left > .nav-tabs > li > a:hover, .search-tabs-left > .nav-tabs > li > a:focus {
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
	background-color:#038980;
}
.search-tabs-left > .nav-tabs .active > a, .search-tabs-left > .nav-tabs .active > a:hover, .search-tabs-left > .nav-tabs .active > a:focus {
	border-color: #ddd transparent #ddd #ddd;
	border-right-color: #ffffff;
	border:none;
	background-color:#394A5A;
	color:#FFF;
	font-weight:bold;
	font-family: "Lato", georgia;
}

.partner .container .row .col-xs-6 ul li {
	display: inline-block;
}
.partner .container .row table tr td div {
	text-align: center;
	margin:0 auto;
}



/* Author by Agung Pambudi */

.carousel-control.left, .carousel-control.right{ 
	background: none !important; 
	filter: progid:none !important; 
}

.carousel-indicators {
  top: 260px;
}

.btn {
    background-color: #F47D67;
	color: #FFFDF0;
	font-weight: bold;
	font-family: "Lato", georgia;
}

.ui-datepicker {
	background: #2E4150;
	border: 1px solid #555;
	color: #EEE;
	font-size:10pt !important;
	font-family: "Lato", georgia;
}

.ui-datepicker td {
	border: none;
	padding: 0;
	background: #2E4150;
}
.ui-datepicker-header {
	background: #F7991D;
	color: #F8FFFD;
	text-transform: uppercase;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #111;
}
.ui-datepicker-next {
	display: inline-block;
	width: 46px;
	height: 69px;
	text-align: center;
	cursor: pointer;
	content:' ?';
	line-height: 600%;
	overflow: hidden;
	float: right;
	background-position: center 0px;
}

table.ui-datepicker-calendar td.ui-datepicker-week-end:nth-child(1) a {
 color: #f00;
 font-weight: bold;
}

.dropdown-adult {
	/* Size and position */
	position: relative;
	width: 80px;
	margin: 0 auto;
	padding: 6px;

	/* Styles */
	background: #fff;
	border-radius: 0;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;
	
	
	
	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;
}

.dropdown-adult:after {
	content: "";
	width: 28px; 
	height: 24px;
	position: absolute;
	right: 15px;
	top: 30%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-color: #8aa8bd transparent;
	background:url("../img/sprites/sprite_pesawat.png") -888px -216px; no-repeat scroll;
}

.dropdown-adult .dropdown {
  /* Size & position */
	position: absolute;
	top: 140%;
	left: 0;
	right: 0;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
	z-index: 9990;
}

.dropdown-adult .dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;    
}

.dropdown-adult .dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;    
}

.dropdown-adult .dropdown li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #8aa8bd;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.dropdown-adult .dropdown li i {
	float: right;
	color: inherit;
}

.dropdown-adult .dropdown li:first-of-type a {
	border-radius: 0;
}

.dropdown-adult .dropdown li:last-of-type a {
	border: none;
	border-radius: 0;
}

/* Hover state */

.dropdown-adult .dropdown li:hover a {
	background: #f3f8f8;
}

/* Active state */

.dropdown-adult.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .dropdown-adult .dropdown,
.no-pointerevents .dropdown-adult .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .dropdown-adult.active .dropdown,
.no-pointerevents .dropdown-adult.active .dropdown {
	display: block;
}

.dropdown-child {
	/* Size and position */
	position: relative;
	width: 65px;
	margin: 0 auto;
	padding: 6px;

	/* Styles */
	background: #fff;
	border-radius: 0;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;
	
	
	
	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;
}

.dropdown-child:after {
	content: "";
	width: 17px; 
	height: 22px;
	position: absolute;
	right: 15px;
	top: 30%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-color: #8aa8bd transparent;
	background:url("../img/sprites/sprite_pesawat.png") -925px -217px no-repeat scroll;
}

.dropdown-child .dropdown {
  /* Size & position */
	position: absolute;
	top: 140%;
	left: 0;
	right: 0;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
	z-index: 9990;
}

.dropdown-child .dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;    
}

.dropdown-child .dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;    
}

.dropdown-child .dropdown li a {
	display: block;
	padding: 10px 10px 10px 0;
	text-align: center;
	text-decoration: none;
	color: #8aa8bd;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.dropdown-child .dropdown li a{
	float: left;
	color: inherit;
}

.dropdown-child .dropdown li:first-of-type a {
	border-radius: 0;
}

.dropdown-child .dropdown li:last-of-type a {
	border: none;
	border-radius: 0;
}

/* Hover state */

.dropdown-child .dropdown li:hover a {
	background: #f3f8f8;
}

/* Active state */

.dropdown-child.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .dropdown-child .dropdown,
.no-pointerevents .dropdown-child .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .dropdown-child.active .dropdown,
.no-pointerevents .dropdown-child.active .dropdown {
	display: block;
}

.dropdown-baby {
	/* Size and position */
	position: relative;
	width: 65px;
	margin: 0 auto;
	padding: 6px;

	/* Styles */
	background: #fff;
	border-radius: 0;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;
	
	
	
	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;
}

.dropdown-baby:after {
	content: "";
	width: 15px; 
	height: 23px;
	position: absolute;
	right: 15px;
	top: 30%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-color: #8aa8bd transparent;
	background:url("../img/sprites/sprite_pesawat.png") -951px -217px; no-repeat scroll;
}

.dropdown-baby .dropdown {
  /* Size & position */
	position: absolute;
	top: 140%;
	left: 0;
	right: 0;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
	z-index: 9990;
}

.dropdown-baby .dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;    
}

.dropdown-baby .dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;    
}

.dropdown-baby .dropdown li a {
	display: block;
	padding: 10px 10px 10px 0;
	text-align: center;
	text-decoration: none;
	color: #8aa8bd;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.dropdown-baby .dropdown li a{
	float: left;
	color: inherit;
}

.dropdown-baby .dropdown li:first-of-type a {
	border-radius: 0;
}

.dropdown-baby .dropdown li:last-of-type a {
	border: none;
	border-radius: 0;
}

/* Hover state */

.dropdown-baby .dropdown li:hover a {
	background: #f3f8f8;
}

/* Active state */

.dropdown-baby.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .dropdown-baby .dropdown,
.no-pointerevents .dropdown-baby .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .dropdown-baby.active .dropdown,
.no-pointerevents .dropdown-baby.active .dropdown {
	display: block;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width: 21px; 
	height: 20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url("../img/sprites/sprite_pesawat.png") no-repeat -709px -218px left top;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background: url("../img/sprites/sprite_pesawat.png") -744px -218px top no-repeat;
}

.city-initial-place {
	/* Size and position */
	position: relative;
	width: 235px;
	margin: 0 auto;
	padding: 9px;

	/* Styles */
	background: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;

	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;
}

.city-initial-place:after {
	content: "";
	width: 35px; 
	height: 24px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: transparent;
	background: url("../img/sprites/sprite_pesawat.png") no-repeat -807px -219px; 
	
}

.city-initial-place .dropdown {
  /* Size & position */
	position: absolute;
	top: 140%;
	left: 0;
	right: 0;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
	z-index: 9990;
}

.city-initial-place .dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;    
}

.city-initial-place .dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;    
}

.city-initial-place .dropdown li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #8aa8bd;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.city-initial-place .dropdown li i {
	float: right;
	color: inherit;
}

.city-initial-place .dropdown li:first-of-type a {
	border-radius: 7px 7px 0 0;
}

.city-initial-place .dropdown li:last-of-type a {
	border: none;
	border-radius: 0 0 7px 7px;
}

/* Hover state */

.city-initial-place .dropdown li:hover a {
	background: #f3f8f8;
}

/* Active state */

.city-initial-place.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .city-initial-place .dropdown,
.no-pointerevents .city-initial-place .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .city-initial-place.active .dropdown,
.no-pointerevents .city-initial-place.active .dropdown {
	display: block;
}

/* separator 1 */

.city-destination-place {
	/* Size and position */
	position: relative;
	width: 235px;
	margin: 0 auto;
	padding: 9px;

	/* Styles */
	background: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;

	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;
}

.city-destination-place:after {
	content: "";
	width: 35px; 
	height: 24px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: transparent;
	background: url("../img/sprites/sprite_pesawat.png") no-repeat -807px -219px; 
	
}

.city-destination-place .dropdown {
  /* Size & position */
	position: absolute;
	top: 140%;
	left: 0;
	right: 0;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
	z-index: 9990;
}

.city-destination-place .dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;    
}

.city-destination-place .dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;    
}

.city-destination-place .dropdown li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #8aa8bd;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.city-destination-place .dropdown li i {
	float: right;
	color: inherit;
}

.city-destination-place .dropdown li:first-of-type a {
	border-radius: 7px 7px 0 0;
}

.city-destination-place .dropdown li:last-of-type a {
	border: none;
	border-radius: 0 0 7px 7px;
}

/* Hover state */

.city-destination-place .dropdown li:hover a {
	background: #f3f8f8;
}

/* Active state */

.city-destination-place.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .city-destination-place .dropdown,
.no-pointerevents .city-destination-place .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .city-destination-place.active .dropdown,
.no-pointerevents .city-destination-place.active .dropdown {
	display: block;
}

/* separator 2 */

.date-time-data {
	/* Size and position */
	position: relative;
	width: 240px;
	margin: 0 auto;
	padding: 5px;

	/* Styles */
	background: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;

	/* Font settings */
	font-weight: normal;
	color: #8AA8BD;
}

.date-time-data:after {
	content: "";
	width: 35px; 
	height: 24px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: transparent;
	background: url("../img/sprites/sprite_pesawat.png") no-repeat -807px -219px; 
	
}

.date-time-data .dropdown {
  /* Size & position */
	position: absolute;
	top: 140%;
	left: 0;
	right: 0;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
	z-index: 9990;
}

.date-time-data .dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;    
}

.date-time-data .dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;    
}

.date-time-data .dropdown li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #8aa8bd;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.date-time-data .dropdown li i {
	float: right;
	color: inherit;
}

.date-time-data .dropdown li:first-of-type a {
	border-radius: 7px 7px 0 0;
}

.date-time-data .dropdown li:last-of-type a {
	border: none;
	border-radius: 0 0 7px 7px;
}

/* Hover state */

.date-time-data .dropdown li:hover a {
	background: #f3f8f8;
}

/* Active state */

.date-time-data.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .date-time-data .dropdown,
.no-pointerevents .date-time-data .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .date-time-data.active .dropdown,
.no-pointerevents .date-time-data.active .dropdown {
	display: block;
}

/* separator 3 */
input[type="radio"] {
	display:none;
}
	
input[type="radio"] + label span {
	display:inline-block;
	width: 21px; 
	height: 20px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background: url("../img/sprites/sprite_pesawat.png") no-repeat -709px -218px;
	cursor:pointer;
}
	 
input[type="radio"]:checked + label span{
	background: url("../img/sprites/sprite_pesawat.png") no-repeat -744px -218px; 
	width: 21px; 
	height: 20px;
}

.btn-footer-edit {
    background: none repeat scroll 0 0 #f47d66;
    border: 0 none;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 6px 13px;
    position: relative;
    text-decoration: none !important;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

/* popup css*/
.header-popup {
	width: 100%;
	background-color: orange;
	padding:  10px;
}

.city-content-list a {
	text-decoration: none;
	color: #F8FFFF;
}

.tab_content_popup {
    display:none;   
}

.tab_content_popup.active{
    display:block;  
}

.col-xs-15,  .col-sm-15,  .col-md-15,  .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}