.carousel-indicators {
  bottom:20px;
}

.carousel-indicators > li {
	border: 1px solid #FFF;
	border-radius: 10px;
	background-color:#FFF;
}

.carousel-indicators .active {
	border: 1px solid #063;
	background-color:#063;
}
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

.search-title-1 {
	font-size: 36px;
	color: #FFF;
}
.search-title-2 {
	font-size: 18px;
	color: #FFF;
}
.panel-tujuan {
	position: relative;
	width:213px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
}
.panel-waktu {
	position: relative;
	width:226px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
}
.panel-pencarian {
	position: relative;
	width:213px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
}
.row-tabs {
	background-color:#038980;
	border: 6px solid #F47D67;
}
.search-tab-content > .tab-pane, .pill-content > .pill-pane {
	display: none;
}
.search-tab-content > .active, .pill-content > .active {
	display: block;
}
.search-tabs-left > .nav-tabs {
	border-bottom: 0;
}
.search-tabs-left > .nav-tabs > li, .search-tabs-right > .nav-tabs > li {
	float: none;
}
.search-tabs-left > .nav-tabs > li > a, .search-tabs-right > .nav-tabs > li > a {
	width: 48px;
	height:62px;
	margin-right: 0;
	text-align:center;
	margin-top:0;
	margin-bottom:6px;
}
.search-tabs-left > .nav-tabs {
	float: left;
	margin-right: 0px;
	background-color:#F47D67;
	height:230px;
}
.search-tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 0px 0 0 0px;
	-moz-border-radius: 0px 0 0 0px;
	border-radius: 0px 0 0 0px;
	background-color:#038980;
	color:#FFF;
	height: 70px;
}
.search-tabs-left > .nav-tabs > li > a:hover, .search-tabs-left > .nav-tabs > li > a:focus {
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
	background-color:#038980;
}
.search-tabs-left > .nav-tabs .active > a, .search-tabs-left > .nav-tabs .active > a:hover, .search-tabs-left > .nav-tabs .active > a:focus {
	border-color: #ddd transparent #ddd #ddd;
	border-right-color: #ffffff;
	border:none;
	background-color:#394A5A;
	color:#FFF;
	font-weight:bold;
}

.partner .container .row .col-xs-6 ul li {
	display: inline-block;
}
.partner .container .row table tr td div {
	text-align: center;
	margin:0 auto;
}

.fc-calendar .fc-row > div .fc-content {
    cursor: pointer;
}

.fc-calendar .fc-row > div .fc-content span.fc-date {
	text-shadow: none;
	background: #F37E68;
	z-index: 3;
}

.fc-calendar .fc-row > div .fc-content span.fc-date:hover {     
	background: #2D404F;
}