.thumb-five-steps {
	width: 969px;
	height: 58px;
	background:url("img/sprites/sprite_pesawat.png") -106px -515px no-repeat scroll;
	display: block;
}
.thumb-progress-pointer1 {
	width: 34px;
	height: 33px;
	background:url("img/sprites/sprite_pesawat.png") -1090px -515px no-repeat scroll;
	position:absolute;
	top:3.9em;
	color:#00A79D;
	font-weight:bolder;
	display: block;
}
.thumb-progress-pointer2 {
	width: 23px;
	height: 19px;
	background:url("img/sprites/sprite_pesawat.png") -1128px -522px no-repeat scroll;
	position:absolute;	
	font-size: 13px;
	top:2.6em;
	color:#00A79D;
	font-weight:bolder;
	display: block;
}

.thumb-logo {
	width: 228px;
	height: 74px;
	background:url("img/sprites/sprite_pesawat.png") -290px -370px no-repeat scroll;
	display: block;
}

.thumb-slide-left {
	width: 58px;
	height: 84px;
	background:url("img/sprites/sprite_pesawat.png") -836px -285px no-repeat scroll;
	display:block;
}
.thumb-slide-right {
	width: 58px;
	height: 84px;
	background:url("img/sprites/sprite_pesawat.png") -915px -285px no-repeat scroll;
	display:block;
}

.thumb-tab-plane {
	width: 44px;
	height: 48px;
	background:url("img/sprites/sprite_pesawat.png") -4px -395px no-repeat scroll;
	zoom: 1;
	display: block;
}
.thumb-tab-hotel {
	width: 44px;
	height: 48px;
	background:url("img/sprites/sprite_pesawat.png") -52px -392px no-repeat scroll;
	zoom: 1;
	display: block;
}
.thumb-tab-train {
	width: 42px;
	height: 48px;
	background:url("img/sprites/sprite_pesawat.png") -106px -392px no-repeat scroll;
	zoom: 1;
	display: block;
}
.thumb-plane-middle {
	width: 51px;
	height: 55px;
	background:url("img/sprites/sprite_pesawat.png") -836px -389px no-repeat scroll;
	zoom: 1;
	display: block;
}
.thumb-switch-city {
	width: 30px;
	height: 32px;
	background:url("img/sprites/sprite_pesawat.png") -1145px -212px no-repeat scroll;
	cursor:pointer;
	zoom: 1;
	display: block;
}
.thumb-drop-city {
	position:absolute;
	right:6px;
	top:4px;
	width: 30px;
	height: 26px;
	background:transparent url("img/sprites/sprite_pesawat.png") -806px -214px no-repeat scroll;
	display: block;
	cursor: pointer;
}
.thumb-drop-calendar {
	position:absolute;
	right:6px;
	top:3px;
	width: 40px;
	height: 40px;
	background:url("img/sprites/sprite_pesawat.png") -844px -207px no-repeat scroll;
	zoom:0.7;
	-moz-transform:scale(0.7);
	-moz-transform-origin: 0 0;
	display: block;
	cursor: pointer;
}
.thumb-drop-adult {
	position:absolute;
	right:6px;
	top:3px;
	width: 34px;
	height: 35px;
	background:url("img/sprites/sprite_pesawat.png") -885px -210px no-repeat scroll;
	zoom:0.7;
	-moz-transform:scale(0.7);
	-moz-transform-origin: 0 0;
	display: block;
}
.thumb-drop-child {
	position:absolute;
	right:6px;
	top:3px;
	width: 23px;
	height: 32px;
	background:url("img/sprites/sprite_pesawat.png") -920px -210px no-repeat scroll;
	zoom:0.7;
	-moz-transform:scale(0.7);
	-moz-transform-origin: 0 0;
	display: block;
}
.thumb-drop-infant {
	position:absolute;
	right:6px;
	top:3px;
	width: 23px;
	height: 32px;
	background:url("img/sprites/sprite_pesawat.png") -947px -210px no-repeat scroll;
	zoom:0.8;
	-moz-transform:scale(0.8);
	-moz-transform-origin: 0 0;
	display: block;
}


.thumb-round-airasia {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -273px -90px no-repeat scroll;
	display: block;
}
.thumb-round-lionair {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -0px -0px no-repeat scroll;
	display: block;
}
.thumb-round-malindoair {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -92px -0px no-repeat scroll;
	display: block;
}
.thumb-round-mandala {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -182px -0px no-repeat scroll;
	display: block;
}
.thumb-round-garuda {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -273px -0px no-repeat scroll;
	display: block;
}
.thumb-round-sriwijaya {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -364px -0px no-repeat scroll;
	display: block;
}
.thumb-round-kalstar {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -455px -0px no-repeat scroll;
	display: block;
}
.thumb-round-wingsair {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -0px -92px no-repeat scroll;
	display: block;
}
.thumb-round-batikair {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -92px -92px no-repeat scroll;
	display: block;
}
.thumb-round-tigerair {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -182px -92px no-repeat scroll;
	display: block;
}
.thumb-round-xpressair {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -364px -92px no-repeat scroll;
	display: block;
}
.thumb-round-citilink {
	width: 92px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -455px -92px no-repeat scroll;
	display: block;
}
.thumb-round-visa {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -3px -182px no-repeat scroll;
	display: block;
}
.thumb-round-bca {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -94px -182px no-repeat scroll;
	display: block;
}
.thumb-round-mandiri {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -184px -182px no-repeat scroll;
	display: block;
}
.thumb-round-mandiri-ecash {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -274px -182px no-repeat scroll;
	display: block;
}
.thumb-round-cimbniaga {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -365px -182px no-repeat scroll;
	display: block;
}
.thumb-round-bni {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -455px -182px no-repeat scroll;
	display: block;
}
.thumb-round-ocbcnisp {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -546px -182px no-repeat scroll;
	display: block;
}
.thumb-round-atmbersama {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -547px -0px no-repeat scroll;
	display: block;
}
.thumb-round-mastercard {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -3px -271px no-repeat scroll;
	display: block;
}
.thumb-round-bcaklikpay {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -94px -271px no-repeat scroll;
	display: block;
}
.thumb-round-mandiriklikpay {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -184px -271px no-repeat scroll;
	display: block;
}
.thumb-round-permata {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -274px -271px no-repeat scroll;
	display: block;
}
.thumb-round-cimbclicks {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -365px -271px no-repeat scroll;
	display: block;
}
.thumb-round-bri {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -455px -271px no-repeat scroll;
	display: block;
}
.thumb-round-alto {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -546px -271px no-repeat scroll;
	display: block;
}
.thumb-round-prima {
	width: 90px;
	height: 90px;
	background:url("img/sprites/sprite_pesawat.png") -546px -92px no-repeat scroll;
	display: block;
}

.thumb-why-check {
	width: 64px;
	height: 64px;
	background:url("img/sprites/sprite_pesawat.png") -770px -385px no-repeat scroll;
	display: block;
}
.thumb-why1 {
	width: 200px;
	height: 200px;
	background:url("img/sprites/sprite_pesawat.png") -640px -0px no-repeat scroll;
	display: block;
}
.thumb-why2 {
	width: 200px;
	height: 200px;
	background:url("img/sprites/sprite_pesawat.png") -836px -0px no-repeat scroll;
	display: block;
}
.thumb-why3 {
	width: 200px;
	height: 200px;
	background:url("img/sprites/sprite_pesawat.png") -1032px -0px no-repeat scroll;
	display: block;
}


.thumb-chat-skype {
	width: 80px;
	height: 100px;
	background:url("img/sprites/sprite_pesawat.png") -742px -266px no-repeat scroll;
	display: block;
}
.thumb-cs {
	width: 80px;
	height: 100px;
	background:url("img/sprites/sprite_pesawat.png") -640px -266px no-repeat scroll;
	display: block;
}
.thumb-phone {
	width: 52px;
	height: 55px;
	background:url("img/sprites/sprite_pesawat.png") -975px -340px no-repeat scroll;
	display: block;
}
.thumb-bbm {
	width: 40px;
	height: 36px;
	background:url("img/sprites/sprite_pesawat.png") -1046px -260px no-repeat scroll;
	display: block;
}
.thumb-whatsapp {
	width: 40px;
	height: 36px;
	background:url("img/sprites/sprite_pesawat.png") -1046px -303px no-repeat scroll;
	display: block;
}
.thumb-line {
	width: 40px;
	height: 36px;
	background:url("img/sprites/sprite_pesawat.png") -1046px -406px no-repeat scroll;
	display: block;
}
.thumb-wechat {
	width: 40px;
	height: 36px;
	background:url("img/sprites/sprite_pesawat.png") -1046px -348px no-repeat scroll;
	display: block;
}

.thumb-rapidssl {
	width: 116px;
	height: 50px;
	background:url("img/sprites/sprite_pesawat.png") -525px -392px no-repeat scroll;
	display: block;
}
.thumb-verisign {
	width: 120px;
	height: 62px;
	background:url("img/sprites/sprite_pesawat.png") -648px -385px no-repeat scroll;
	display: block;
}





.thumb-sort-header {
	width: 14px;
	height: 28px;
	background:url("img/sprites/sprite_pesawat.png") -970px -214px no-repeat scroll;
	zoom: 1;
	cursor:pointer;
	display: block;
}



.thumb-drop-down {
	position:absolute;
	right:6px;
	top:6px;
	width: 30px;
	height: 26px;
	background:url("img/sprites/sprite_pesawat.png") -806px -214px no-repeat scroll;
	zoom:0.8;
	-moz-transform:scale(0.8);
	-moz-transform-origin: 0 0;
	display: block;
}
.thumb-plane-left {
	width: 30px;
	height: 30px;
	background:url("img/sprites/sprite_pesawat.png") -1109px -212px no-repeat scroll;
	display: block;
}
.thumb-plane-right {
	width: 30px;
	height: 30px;
	background:url("img/sprites/sprite_pesawat.png") -1068px -212px no-repeat scroll;
	display: block;
}
.thumb-arrow-down-fromto {
	width: 18px;
	height: 92px;
	background:url("img/sprites/sprite_pesawat.png") -1157px -250px no-repeat scroll;
}


/* Author by Agung Pambudi */

.thumb-small-mandala { 
	width: 57px; 
	height: 27px;
	background:url("img/sprites/sprite_pesawat.png") -24px -473px no-repeat scroll; 
	display: block; 
}

.thumb-small-lionair { 
	width: 23px; 
	height: 27px;
	background:url("img/sprites/sprite_pesawat.png") -104px -470px no-repeat scroll;  
	display: block; 
}

.thumb-small-wingsair { 
	width: 30px; 
	height: 27px;
	background:url("img/sprites/sprite_pesawat.png") -155px -471px no-repeat scroll; 
	display: block; 
}

.thumb-small-batikair { 
	width: 64px; 
	height: 17px;
	background:url("img/sprites/sprite_pesawat.png") -214px -476px no-repeat scroll;  
	display: block; 
}

.thumb-small-tigerair { 
	width: 61px; 
	height: 24px;
	background:url("img/sprites/sprite_pesawat.png") -306px -473px no-repeat scroll; 
	display: block; 
}

.thumb-small-airasia { 
	width: 49px; 
	height: 25px;
	background:url("img/sprites/sprite_pesawat.png") -383px -472px no-repeat scroll; 
	display: block; 
}

.thumb-small-garuda { 
	width: 50px; 
	height: 24px;
	background:url("img/sprites/sprite_pesawat.png") -447px -472px no-repeat scroll; 
	display: block; 
}

.thumb-small-xpressair { 
	width: 49px; 
	height: 17px;
	background:url("img/sprites/sprite_pesawat.png") -515px -479px no-repeat scroll; 
	display: block; 
}

.thumb-small-sriwijaya { 
	width: 31px; 
	height: 24px;
	background:url("img/sprites/sprite_pesawat.png") -583px -472px no-repeat scroll; 
	display: block; 
}

.thumb-small-kalstar { 
	width: 49px; 
	height: 26px;
	background:url("img/sprites/sprite_pesawat.png") -633px -472px no-repeat scroll;  
	display: block; 
}

.thumb-small-citilink { 
	width: 62px; 
	height: 14px;
	background:url("img/sprites/sprite_pesawat.png") -696px -477px no-repeat scroll;  
	display: block; 
}

.thumb-arrow-up { 
	width: 11px; 
	height: 7px;
	background: url("img/sprites/sprite_pesawat.png") -661px -218px  no-repeat scroll;  
	display: block;
}

.thumb-arrow-down { 
	width: 11px; 
	height: 7px;
	background: url("img/sprites/sprite_pesawat.png") -682px -233px no-repeat scroll; 
	display: block;
}

.thumb-arrow-down-4-route { 
	background: url("img/sprites/sprite_pesawat.png") -771px -220px no-repeat scroll; 
	width: 28px; 
	height: 17px; 
}

.thumb-luggage-15 { 
	background: url("img/sprites/sprite_pesawat.png") -1092px -300px no-repeat scroll; 
	width: 49px; 
	height: 39px; 
	display: block;
}

.thumb-luggage-20 { 
	background: url("img/sprites/sprite_pesawat.png") -1092px -254px no-repeat scroll; 
	width: 49px; 
	height: 39px; 
	display: block;
}

.thumb-free-lunch { 
	background: url("img/sprites/sprite_pesawat.png") -1101px -350px no-repeat scroll; 
	width: 30px; 
	height: 40px; 
	display: block;
}


/* sprite for tabs */

.thumb-day-morning { 
	background: url("img/sprites/sprite_tambahan.png") -316px -6px no-repeat scroll; 
	width: 69px; 
	height: 40px; 
	display: block;
}

.thumb-day-afternoon { 
	background: url("img/sprites/sprite_tambahan.png") -316px -56px no-repeat scroll; 
	width: 69px; 
	height: 40px; 
	display: block;
}

.thumb-day-evening { 
	background: url("img/sprites/sprite_tambahan.png") -316px -106px no-repeat scroll; 
	width: 69px; 
	height: 39px; 
	display: block;
}

.thumb-day-night { 
	background: url("img/sprites/sprite_tambahan.png") -316px -155px no-repeat scroll; 
	width: 69px; 
	height: 40px;
	display: block;		
}

.thumb-small-calendar { 
	background: url("img/sprites/sprite_pesawat.png") -845px -212px no-repeat scroll; 
	width: 35px; 
	height: 32px; 
	display: block;
}

.thumb-popup-close { 
	background: url("img/sprites/sprite-pesawat-pop-lokasi.png") -298px -58px no-repeat scroll; 
	width: 19px; 
	height: 18px; 
}

.thumb-popup-kotapopuler { 
	background: url("img/sprites/sprite-pesawat-pop-lokasi.png") -84px -37px no-repeat scroll; 
	width: 141px; 
	height: 21px; 
}

.thumb-popup-domestik { 
	background: url("img/sprites/sprite-pesawat-pop-lokasi.png") -15px -92px no-repeat scroll; 
	width: 109px; 
	height: 28px; 
}

.thumb-popup-international { 
	background: url("img/sprites/sprite-pesawat-pop-lokasi.png") -171px -92px no-repeat scroll; 
	width: 147px; 
	height: 29px; 
}
.thumb-check-box { 
	background: url('img/sprites/sprite_pesawat.png') -989px -219px no-repeat scroll; 
	width: 19px; 
	height: 19px; 
	display: block; 
}
.thumb-check-box-checked { 
	background: url('img/sprites/sprite_pesawat.png') -1015px -219px no-repeat scroll; 
	width: 19px; 
	height: 19px; 
	display: block; 
}